---
import Layout from "../layouts/Layout.astro";
import {Image} from "@astrojs/image/components"

const blogs = await Astro.glob("./blogs/*.md");
const designs = await Astro.glob("./designs/*.md");
---

<Layout title="Welcome">
  <div class="grid gap-2">
    <div class="min-h-[calc(100vh-280px)] flex flex-col rounded border border-black bg-pink-600 bg-[url('/texture.png')] p-2 lg:px-9">

      <div class="flex items-center">

        <Image src="/logoblack.svg" alt="Logo" width={35} height={35} class="my-3"/>
        <a href="mailto:takshakramteke0708@gmail.com" class="ml-auto text-lg border border-black px-2 rounded-full">hello@takshakramteke.tech</a>
      </div>

      <p class="text-7xl mt-auto font-semibold lg:text-9xl">
        I'm, <br />Takshak Ramteke
      </p>

      <p class="text-lg lg:text-3xl mt-3 rounded p-2 text-justify">
        A Enthusiastic & Passionate Developer Who loves to Designer
      </p>

      <div>
        <div class="flex flex-wrap items-center lg:text-lg italic my-4">
          <p class="shrink-0 rounded-full border border-black px-2">
            Fullstack Freelance Developer
          </p>
          <p class="lg:ml-2 shrink-0 rounded-full border border-black px-2">
            Web Designer
          </p>
          <p class="lg:ml-2 mt-2 lg:mt-0 shrink-0 rounded-full border border-black px-2">
            Graphic Designer
          </p>
        </div>
      </div>

    </div>

    <div class="h-fit w-full rounded border border-black p-3 lg:mt-0">
      <h1 class="text-4xl font-bold uppercase">Table of contents</h1>
      <h2 class="my-3 mt-4 text-3xl font-semibold">Blogs :</h2>
      <div class="lg:text-lg">
        {
          blogs.map((blog) => (
            <a href={blog.url} class="my-2 italic text-slate-700">
              <h3 class="my-1 hover:underline">{blog.frontmatter.title} </h3>
            </a>
          ))
        }
      </div>

      <h2 class="my-3 mt-4 text-3xl font-semibold">Designs :</h2>
      <div class="lg:text-lg">
        {
          designs.map((design) => (
            <a href={design.url} class="my-2 italic text-slate-700 ">
              <h3 class="my-1">{design.frontmatter.title} </h3>
            </a>
          ))
        }
      </div>
    </div>
  </div>

</Layout>
