---
import Layout from "../../layouts/Layout.astro";
import {Image} from "@astrojs/image/components"

interface Frontmatter {
  title: string;
  cover: string;
  author: string;
  date: string;
}

const designs = await Astro.glob<Frontmatter>("./*.md");
---

<Layout title="Designs">
  <h1 class="font-inter text-2xl font-bold uppercase">Some of my Design's</h1>
  <div class="mt-4 grid place-items-center lg:flex lg:place-items-stretch">
    {
      designs.map((design) => (
        <div class="m-1 mb-3 max-w-[20rem] rounded border border-black p-2 lg:mr-2">
          {/*<img src={design.frontmatter.cover} />*/}
          <Image src={design.frontmatter.cover} width={226} height={320} alt={design.frontmatter.title} class="h-auto" format="avif"/>
          <a href={design.url}>
            <h1 class="text-lg font-semibold hover:text-purple-800 hover:underline">
              {design.frontmatter.title}
            </h1>
          </a>
          <div class="flex items-center">
            <p class="text-right text-sm italic text-gray-600 ">
              By : {design.frontmatter.author}
            </p>
            <p class="ml-auto text-right text-sm italic text-gray-600">
              {design.frontmatter.date}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
