---
import Layout from '../../layouts/Layout.astro';
interface Frontmatter {
  title: string;
  cover: string;
  author: string;
  date: string;
}

const designs = await Astro.glob<Frontmatter>('./*.md');
---

<Layout title='Designs'>
  <h1 class='font-bold font-inter text-2xl uppercase'>Some of my Design's</h1>
  <div class='mt-4 lg:flex'>
    {
      designs.map((design) => (
        <div class='max-w-[20rem] p-2 m-1 border rounded border-black mb-3 lg:mr-2'>
          <img src={design.frontmatter.cover} />
          <a href={design.url}>
            <h1 class='font-semibold text-lg hover:underline hover:text-purple-800'>
              {design.frontmatter.title}
            </h1>
          </a>
          <div class='flex items-center'>
            <p class='text-sm text-right italic text-gray-600 '>
              By : {design.frontmatter.author}
            </p>
            <p class='text-sm text-right italic text-gray-600 ml-auto'>
              {design.frontmatter.date}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
