---
import Layout from '../../layouts/Layout.astro';
interface Frontmatter {
  title: string;
  cover: string;
  author: string;
  date: string;
}

const blogs = await Astro.glob<Frontmatter>('./*.md');
---

<Layout title='Blogs'>
  <h1 class='font-bold font-inter text-2xl uppercase'>Some of my Blog's</h1>
  <div class='mt-4 lg:flex'>
    {
      blogs.map((blog) => (
        <div class='max-w-[20rem] p-2 m-1 border rounded border-black mb-3 lg:mr-2'>
          <img src={blog.frontmatter.cover} />
          <a href={blog.url}>
            <h1 class='font-semibold text-lg hover:underline hover:text-purple-800 mt-1'>
              {blog.frontmatter.title}
            </h1>
          </a>
          <div class='flex items-center mt-1'>
            <p class='text-sm text-right italic text-gray-600 '>
              By : {blog.frontmatter.author}
            </p>
            <p class='text-sm text-right italic text-gray-600 ml-auto'>
              {blog.frontmatter.date}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
