---
import Layout from "../../layouts/Layout.astro";
import {Image} from "@astrojs/image/components"

interface Frontmatter {
  title: string;
  cover: string;
  author: string;
  date: string;
}

const blogs = await Astro.glob<Frontmatter>("./*.md");
---

<Layout title="Blogs">
  <h1 class="font-inter text-2xl font-bold uppercase">Some of my Blog's</h1>
  <div
    class="mt-4 grid place-items-center lg:flex lg:flex-wrap lg:place-items-stretch"
  >
    {
      blogs.map((blog) => (
        <div class="m-1 mb-3 max-w-[23.9rem] shrink-0 rounded border border-black p-2 lg:mr-4">
          {/* <img src={blog.frontmatter.cover} /> */}
          <Image src={blog.frontmatter.cover} width={273} height={154} alt={blog.frontmatter.title} class="h-auto w-full" format="avif"/>
          <a href={blog.url}>
            <h1 class="mt-1 text-lg font-semibold hover:text-purple-800 hover:underline">
              {blog.frontmatter.title}
            </h1>
          </a>
          <div class="mt-1 flex items-center">
            <p class="text-right text-sm italic text-gray-600 ">
              By : {blog.frontmatter.author}
            </p>
            <p class="ml-auto text-right text-sm italic text-gray-600">
              {blog.frontmatter.date}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
